$font-color: (
  title:#FFFFFF,
  subtitle:#FFFFFF,
  span:red,
  text-box:black,
  name-card:#3b3b3b,
  text-card:#909090
);

$background: (
  screen: #FFFFFF,
  screen-forms:#689A70,
  box:#C7C7C7,
  button:#3b732b,
  card:#f3f2f2,
  line:#36b42f
);